<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Title </title>
</head>
<body>
{% if startup_list %}
<table border="1" margin="auto" align="center">
  <tr>
    <th>startup_no</th>
    <th>startup_name</th>
    <th>startup_domain</th>
      <th>startup_city</th>
  </tr>
    {% for prd in startup_list %}
    <tr>
    <td>{{prd.startup_no}}</td>
    <td>{{prd.startup_name}}</td>
    <td>{{prd.startup_domain}}</td>
        <td>{{prd.startup_city}}</td>
    </tr>
    {%endfor %}

</table>
{%else%}
<h1>No data found</h1>

{%endif%}
</body>
</html>